body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(150, 150, 150);
    text-align: center;
    overflow: auto;
    position: absolute;
}


@media screen and (max-width: 720px){
    .twdbody{
        display: block;
        height: 100%;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5px;
        text-align: center;
        color: white;
    }
    .content{
        width: 190px;
        height: 200px;
        border: black 2px solid;
        margin: 4px;
        align-items: center;
    }
    .content h1 a{
        text-decoration: none;
        color: white;
        vertical-align: middle;
    }
}

/* ============================= */

@media screen and (min-width: 721px) {
    .twdbody{
        display: block;
        height: 100%;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5px;
        text-align: center;
        color: white;
    }
    .content{
        width: 190px;
        height: 200px;
        border: black 2px solid;
        margin: 4px;
    }
    .content h1 a{
        text-decoration: none;
        color: white;
        vertical-align: middle;
    }
}

.itemcontent{
    width: 190px;
    height: 250px;
    border: black 2px solid;
    vertical-align: middle;
    background-color: rgb(186, 202, 202);
    color: black;
}
.itemcontent h2 a{
    color: black;
    text-decoration: none;

}
.presimage{
    /* width: 300px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.wikiinfo a{
    color: rgb(172, 27, 27);
}
.group{
    display: block;
    height: auto;
}

